* {margin: 0; padding: 0;} 

html,body {
    height: 100%; 
    font-family: Verdana; 
    font-size: 11pt;
    background-color: #ffffcc; 
    color: #333; 
}
.main { 
    min-height: 100%;
    position: relative;
}
* html .main { 
    height: 100%; 
}
.hFooter { 
    height: 30px; 
}
.footer { 
    height: 50px; 
    margin-top: -50px; 
    color: #999999; 
    font-size: 9pt;
    font-family: Verdana; 
    font-weight: normal;
}
.maintitle {
    color: #a52a2a; 
    font-size: 24pt;
    font-family: Monotype Corsiva; 
    font-weight: normal;
    margin: 10px; 
}
.menu{
    position: relative;
    border: solid 1px black;
    width: 200px; 
    height: 35px;
    margin: 1px; 
    background: #a52a2a;
    font-size: 14pt;
    font-family: Verdana; 
    color: #ffffcc;
}
.hint {
    font-size: 12pt;
    margin: 1px; 
    border: dashed 1px black;
    width: 200px; 
    height: 330px;
}
.content{
    font-size: 12pt;
    font-family: Verdana; 
    font-weight: normal;
    position: absolute;
    left: 300px;
    top: 90px;
    margin: 5px;
}
.title{
    color:#a52a2a;
    margin: 10px;
    font-size: 20pt;
}
a.none{
    text-decoration: none; 
}
.language{
    text-align: right; 
    float: right;
}