* {margin: 0; padding: 0;} 

html,body {
    height: 100%; 
    font-family: Verdana; 
    font-size: 11pt;
    background-color: #ffffcc; 
    color: #333; 
}
.main { 
    min-height: 100%;
    position: relative;
}
* html .main { 
    height: 100%; 
}
.hFooter { 
    height: 30px; 
}

.divfooter{margin-left:15px;}

.footer { 
    height: 50px; 
    margin-top: -50px; 
    color: #999999; 
    font-size: 9pt;
    font-family: Verdana; 
    font-weight: normal;
    
}
.footer1 { 
    height: 50px; 
    margin-top: 80px; 
    color: #999999; 
    font-size: 9pt;
    font-family: Verdana; 
    font-weight: normal;
    
}
.maintitle {
    color: #a52a2a; 
    font-size: 26pt;
    font-family: Calibri; 
    font-weight: normal;
    margin: 15px; 
}
.menu li{
    margin-left: 15px;
    position: relative;
    border: solid 1px black;
    width: 230px; 
    height: 35px;
    margin-bottom: 1px; 
    background: #a52a2a;
    list-style:none;
}

.menu a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 14pt;
    font-family: Verdana; 
    color: #ffffcc;
}
.recofday1 {
    margin-top: 15px;
    color: #a52a2a; 
    font-family: Calibri; 
    font-weight: normal;
    font-size: 20pt;
}
.recofday2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a52a2a; 
    font-family: Calibri; 
    font-weight: normal;
    font-style: italic;
    font-size: 22pt;
}

.hint {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
    margin-left: 15px; 
    border: dashed 1px black;
    width: 230px; 
    height: 270px;
}
.content{
    font-size: 12pt;
    font-family: Verdana; 
    font-weight: normal;
    position: absolute;
    left: 290px;
    top: 90px;
    margin: 5px;
}
.content1{
    font-size: 12pt;
    font-family: Verdana; 
    font-weight: normal;
    margin: 0 auto;
    width: 200px;
}
.statusbar {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
}
.title{
    color:#a52a2a;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20pt;
}
a.none{
    text-decoration: none; 
}
.language{
    text-align: right; 
    float: right;
    margin-right: 15px;
}
.recipetitle{
    font-family: Verdana; 
    color:#a52a2a;
    margin: 10px;
    font-size: 20pt;
    font-weight: bold;
    height: 40px;
}
.recipetitle2{
    font-family: Verdana; 
    color:#a52a2a;
    font-size: 16pt;
    vertical-align: bottom;
    height: 40px;
}
.step{    
    font-family: Verdana; 
    color:#a52a2a;
    font-size: 14pt;
}

